body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/*************************** Header *****************************/

.head {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

.head .container {
    display: flex;
    /* gap: 332px; */
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

.nav {
    display: flex;
    column-gap: 76px;
    flex-grow: 1;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 76px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.logo-studio {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}


.head-list {
    display: flex;
    gap: 40px;

}


.nav-list-links {
    position: relative;
}

.links {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #2E2F42;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;

}

.links:hover {
    color: #404bbf;
}

.links:focus {
    color: #404bbf;
}

#first::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: inline-block;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404BBF;

}


/*************************** Address *****************************/

.add_ress {
    display: flex;
    color: #434455;
    font-style: normal;


}

.address-list {
    display: flex;
    gap: 40px;
}

.address-list li .info {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.address-list li .info:hover,
.address-list li .info:focus {
    color: #404bbf;
}



/*************************** Section 1 *****************************/

.sec-first {
    background-image: url(/images/Dark-bg.svg), url(/images/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover, cover;
    background-color: #2E2F42;
    color: #ffffff;
    text-align: center;
    height: 600px;
    padding: 188px 0;
    align-items: center;
}

.page-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

.bttn {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;

}

.bttn:hover {
    background-color: #404BBF;
}

.bttn:focus {
    background-color: #404BBF;
}

/*************************** Section 2 *****************************/
.sec-cecond {
    margin: 0 auto;
    padding: 120px 0;
}


.main-title-sec-cecond {
    text-decoration: none;

}

.list-sec-cecond {
    display: flex;
    gap: 24px;
    height: 104px;

}

.items-list {
    flex-basis: calc((100% - 72px) / 4);
}

.icon {

    background-color: #F4F4FD;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
}


.title-sec-cecond {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph-sec-cecond {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}


/*************************** Section 3 *****************************/


.sec-third {
    background-color: #F4F4FD;
    margin: 0 auto;
    height: 732px;
    padding: 120px 0;
}


.main-title-sec-third {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.list-sec-third {
    display: flex;
    gap: 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.li-item {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.info {
    text-align: center;
    padding: 32px 0;
}

.title-sec-third {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.paragraph-sec-third {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
}


/*************************** Section 4 *****************************/

.sec-fourth {
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-title-fourth {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-sec-fourth {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.li-item {
    width: calc((100% - 48px) / 3);
}

.items_of_portfolio {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}


.title-sec-fourth {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph-sec-fourth {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;

}

/*************************** Footer *****************************/

.foo_ter {
    background-color: #2E2F42;
    text-align: left;
    height: 312px;
    padding: 100px 0;
}

.foo_ter .logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.foo_ter .logo-studio-footer {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-paragraph {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}